body{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background: #2F1893;
}
.container{
    margin: 50px 250px;
}
ul,li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.start{
    font-weight: 700;
    font-size: 24px;
    color: white;
}
.menu{
    display: flex;
}
.list{
    display: flex;
}
.list li a{
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin-left: 30px;
    padding: 10px 20px;
}
.view a{
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin-left: 30px;
    opacity: 0.3;
    cursor:not-allowed;
}
.view a:focus{
    background: none!important;
}
.list li a:focus{
    background: #E93A7D;
    border-radius: 10px;
}
.main{
    display: flex;
    margin-top: 70px;
    justify-content:space-between ;
}
.textContent{
    margin: 15px 0 0 0;
}
.head1{
    font-weight: 700;
    font-size: 58px;
    color: white;
}
.head2{
    font-weight: 500;
    font-size: 22px;
    color: white;
    margin: 25px 0 40px 0;
}
.head3 a{
    font-weight: 500;
    font-size: 18px;
    color: white;
    background-color: #E93A7D;
    padding: 10px 20px;
    border-radius: 15px;
}
.head3 a:hover{
    background-color:#da125f;
}
.logInPage{
    background-color: white;
    padding: 25px 50px;
    border-radius: 10px;
}
.logHead{
    color: #1E0E62;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
}
.form input{
    width: 330px;
    height: 40px;
    border: 2px solid #EBEAED;
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 500;
}
::placeholder{
    font-weight: 500;
    font-size: 18px;
    padding: 0 5px;
    color: #15143966;
}
.agree{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #15143966;
}
.agree img{
    margin-right: 10px;
}
.signIn a{
    font-weight: 500;
    font-size: 18px;
    color: white;
    display: block;
    background: #482BE7;
    text-align: center;
    margin: 25px 0 20px  0 ;
    padding: 10px 0;
    border-radius: 20px;
}
.signIn a:hover{
    transform: translateY(-2px);
    background: #2b16a2;
}
.twitter a{
    font-weight: 500;
    font-size: 18px;
    color: white;
    display: block;
    background: #1DA1F2;
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    border-radius: 20px;
}
.twitter a:hover{
    transform: translateY(-2px);
    background-color: #086198;
}
.or{
    font-weight: 500;
    font-size: 16px;
    color: #15143966;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.or::before, .or::after{
    content: "";
    flex: 1 1; 
    border-bottom: 2px solid #EBEAED; 
    margin: 0 15px;
}
.account{
    display: flex;
}
.account a{
    font-weight: 500;
    font-size: 18px;
    color: #15143966;
}
.sign a{
    font-weight: 500;
    font-size: 18px;
    color: #25DAC5;
    margin-left: 10px;
}
.sign a:hover{
    color: #148e7f;
}

